In [1]:
a=2
b=2

In [2]:
a,b

(2, 2)

In [7]:
c=a/b
print("c=a/")

c=a/

In [5]:
print("c")

c

In [8]:
a,b,c= input("the value of a is "),input("the value of b is "), input ("the value of c is ")

the value of a is 22
the value of b is 22
the value of c is 22

In [9]:
o = a+b/c

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [10]:
o=a/c

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [3]:
a=2
c=2
d=a/c

In [4]:
d

1.0

In [16]:
a,b,c= int(input("the value of a is ")),int(input("the value of b is ")),int( input ("the value of c is ")

SyntaxError: unexpected EOF while parsing (3864572321.py, line 1)

In [10]:
o=(b/c)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [15]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("enter the value of c"))
o =a+b/c
o1=o+78+6j
str(o1)+ "bhuva"

enter the value of a45
enter the value of b454
enter the value of c454

'(124+6j)bhuva'

In [26]:
a = int(input("enter a value which is lesser than 35"))
if a < 35:
    
    print ("value is lesser than 35")
elif a < 50:
    
    print("value is lesser than 50")
else:
    print("value is not lesser than 35")

enter a value which is lesser than 3549
value is lesser than 50

In [43]:
salary = int(input("Enter your salary ") )
if salary > 999:
    
    print ("You can buy a car")
    if salary < 2000:
        print ("you can go with nano")
    
    elif salary < 5000:
                print("you can buy a toyota")
    
    elif salary < 10000:
                    print ("you can buy innova")
    
    else:
                        print ("you can buy any car you want")
elif salary > 499:
    print("You can buy a bike")

    elif salary > 99:
    print ("you can go in bus")

else:
    print ("you dont have enough money, please save it")

Enter your salary 20000
You can buy a car
you can buy any car you want